.carta-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  z-index: 10;
}

.carta-container {
  width: 170px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
}

.carta-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  color: whitesmoke;
}

.close-btn {
  cursor: pointer;
}

.single-item-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: grey; */
}

.carta-btn {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px gray;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.selected {
  background-color: #f18f01;
  color: white;
}
