.confirm-wrapper {
  background-color: rgba(0, 0, 0, 0.507);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.confirm-container {
  width: 350px;
  height: 120px;
  background-color: rgba(128, 128, 128, 0.361);
  box-shadow: 0 0 5px 2px gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* position: absolute;
  top: 45%;
  left: 30%; */
}

.confirm-container h2 {
  font-size: 16px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-container button {
  background: none;
  border: solid 2px #749c75;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all;
}

.btn-container button:hover {
  background-color: #749c75;
}
