
.btn-counter {
    background: none;
    border: none;
}

.icono-counter {
    color: #45bdff;
    font-size: 20px;
    padding: 0 5px;
    transition: ease all .3s;
    cursor: pointer;
}

.icono-counter:hover {
    color: #45beff96;
}