.menu-single-item {
  width:max-content;
    /* border: solid 1px black; */
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px gray;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    background-color: #F18F01;
    color: white;
  }