.login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #5E7CE2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px 1px rgb(188, 181, 181);
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    color: whitesmoke;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 4px;
    color: whitesmoke;
  }
  .login-form input {
    border: none;
    align-self: center;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    padding-left: 15px;
    outline: none;
    

  }
  
  .login-form input:focus {
  
   outline:  4px solid #054A91;

  }
  
  .login-form button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #054A91;
    margin: 20px 0;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px 1px whitesmoke;
  }