.mesa-grande {
  /* border: 1px solid black; */
  border-radius: 15px;
  width: 600px;
  /* min-height: 400px; */
  box-shadow: 0 0 5px 2px #45bdff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  padding: 15px;
}
.mesa-grande-header {
  padding-bottom: 25px;
  color: whitesmoke;
}
.numero-mesa {
  font-size: 24px;
}
.mesa-grande-header h4 {
  color: rgba(255, 255, 255, 0.484);
  font-size: 12px;
}

.mesa-grande-contenido {
  width: 100%;
  background-color: none;
  color: whitesmoke;
  max-height: 200px;
  overflow-y: auto;
}
.mesa-grande-contenido th {
  text-align: left;
}

/* .total-container {
  display: flex;
  justify-content: space-between;
} */

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.menu-btn {
  background: none;
  border: solid 2px #749c75;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all;
}

.cobrar-cerrar-btn {
  background: none;
  border: solid 2px #749c75;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all;
}

.menu-btn:hover {
  background-color: #749c75;
}

.cobrar-cerrar-btn:hover {
  background-color: #749c75;
}

.close-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(241, 232, 232, 0.541);
  /* color: rgba(0, 0, 0, 0.537); */
  transition: all ease 0.3s;
}

.close-btn:hover {
  color: whitesmoke;
}

.mesa-grande-menu {
  width: fit-content;
  /* padding: 10px; */
  border-radius: 10px;
  margin-top: 15px;
  background-color: white;
  display: flex;
  gap: 10px;
}

.cerrar-mesa-container {
  width: 100%;
  background-color: none;
  box-shadow: 0 0 5px 2px gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  padding: 10px 0;
  color: whitesmoke;
}

.cerrar-mesa-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cerrar-mesa-btn-container button {
  background: none;
  border: solid 2px #749c75;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all;
}

.cerrar-mesa-btn-container button:hover {
  background-color: #749c75;
}
.cerrar-mesa-btn-container button:nth-child(even):hover {
  background-color: #749c75;
}
.cerrar-mesa-btn-container button:nth-child(even) {
  background: none;
  border: solid 2px #749c75;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all;
}

.cerrar-mesa-total {
  padding: 5px 0;
}

.recibo-container {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.input-container label {
  margin-right: 5px;
  margin-right: 10px;
}

.input-container input {
  font-size: 16px;
 padding: 3px;
 background: none;
 color: whitesmoke;
}

@media print {
  .recibo-container {
    position: initial;
  }
}

.mesa-grande-contenedor {
  max-height: 200px;
  overflow-y: auto;
}
.mesa-grande table {
  border-collapse: collapse;
  width: 100%;
}

.mesa-grande th,
.mesa-grande td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.mesa-grande th {
  position: sticky;
  color: white;
  top: 0;
  background-color: rgba(0, 0, 0, 0.466);
}

.mesa-grande-total {
  padding: 8px; /* Ajusta según sea necesario */
  text-align: right;
  color: white;

  background-color: rgba(0, 0, 0, 0.466);
}
