.form-new-product {
  border-radius: 15px;
  color: whitesmoke;
  border: none;
  width: 300px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: none;
  padding: 10px 20px 30px 20px;
  box-shadow: 0 0 5px 2px #45bdff;
}

.form-new-product input {
  padding: 5px 5px;
  font-size: 20px;
  background-color: #0d82c1a0;
  color: whitesmoke;
  outline: solid 2px #17a1ec;
  border-radius: 5px;
  border: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-new-product input:focus {
  outline: solid 2px white;
}

.form-new-product label {
  font-size: 12px;
  font-weight: 600;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.formBtn {
  display: flex;
  align-self: center;
  width: fit-content;
  color: white;
  font-weight: 600;
  /* width: 100px; */
  cursor: pointer;
  padding: 7px 10px;
  margin-top: 20px;
  background: none;
  border: solid 2px #45bdff;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.formBtn:hover {
  background: #45bdff;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  color: rgba(159, 153, 153, 0.537);
  transition: all ease 0.3s;
}

.close-btn:hover {
  color: whitesmoke;
}
