:root {
  --main-color: #498c8a;
  --second-color: #58b09c;
  --third-color: #89bd9e;
  --grey-color: lightslategray;
  --white-color: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: url(../../public/restoback.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: top;
}

a {
  text-decoration: none;
  margin: 0;
}

.icono {
  color: lightslategray;
}

/* Boton */

/* .formBtn {
  padding: 7px 5px;
  width: 100%;

  font-weight: 700;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  background-color: #498c8a;
  color: whitesmoke;
} */

/* a revisar */

/* .mesa-container {
  width: 200px;
  height: 100px;
}

.mesa-close-btn {
  width: 300px;
} */
